/*
 Name: Mighty Ducks Hockey League
 Description: Task created for MindHub.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

:root {

  /* Tipografia */
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;

  /* Paleta de colores */
  --negro: hsl(0, 0%, 1%);
  --negro-opaco: rgba(3, 3, 3, 0.5);
  --rojo: hsl(0, 76%, 52%);
  --blanco: hsl(0, 0%, 99%);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

header {
  height: 25vh;
  background-image: 
    linear-gradient(to right, var(--negro-opaco), var(--negro-opaco)),
    url("./images/design1_image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  border: 2px solid var(--negro);
  background-image: linear-gradient(135deg, var(--rojo), var(--negro-opaco), var(--negro-opaco));
  min-width: 4rem;
  max-width: 10vw;
  box-shadow: 0px 2px 4px var(--negro-opaco);
}

main {
  position: relative;
  padding: 5vh 3vw;
}

.navbar {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--rojo);
}

.navbar a {
  text-transform: uppercase;
  color: var(--blanco);
  font-size: 2.5vw;
  font-weight: 700;
  text-decoration: none;
  height: 100%;
  padding: 1vh 1vw;
}

a[aria-current] {
  background-color: var(--blanco);
  color: var(--negro);
}

h1, h2, h3, h4, legend {
  font-weight: 700;
}

h1 {
  font-size: max(1.5rem, 6vw);
  color: var(--rojo);
  text-shadow: 2px 2px 4px var(--negro);
}

h2 {
  font-size: max(1.5rem, 3vw);
  color: var(--rojo);
  margin-bottom: 1rem;
}

h3 {
  font-size: max(1rem, 2vw);
  margin-block: 1rem;
}

h5, h6, p:not(table p) {
  font-weight: 400;
  font-size: 1rem;
}

h5 {
  font-style: italic;
}

h6, p {
  text-indent: 1rem;
  margin-bottom: 1rem;
}

section {
  margin-left: 1rem;
}

ul, ol {
  list-style-position: inside;
  margin-bottom: 1rem;
}

ol > li:not(li > ol > li) {
  margin-top: 1rem;
}

ul > li {
  text-indent: 1rem;
}

:is(li, td) :is(h4, p) {
  display: inline;
}

table {
  border-collapse: separate;
  border-spacing: 0.25rem;
  font-size: 3vw;
}

table > caption > * {
  text-align: left;
  font-size: 3vw;
}

table > caption > p {
  text-decoration: underline;
  font-style: italic;
}

:is(thead, tbody) :is(th, td) {
  text-align: left;
  padding: 0.5vh 0.5vw;
}

th {
  color: var(--blanco);
  background-color: var(--rojo);
}

.center {
  text-align: center !important;
  text-indent: 0rem;
  margin-bottom: 0rem;
}

tfoot td {
  padding-top: 2vh;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: start;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.right {
  margin-right: 1rem;
}

fieldset, legend {
  border: none;
  width: 100%;
}

legend.right {
  font-weight: 400;
}

fieldset.row {
  align-items: start;
  gap: 1rem;
}

.block {
  margin-block: 0.5rem;
}

label {
  margin-top: 1rem;
}

input[type="date"] {
  margin-right: 2rem;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid var(--negro);
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

input[type="text"], select {
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

select {
  padding: 0.5rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--rojo);
}

input[type="radio"],
legend {
  margin-bottom: 0.25rem;
}

input[type="submit"] {
  color: var(--blanco);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 8px;
  background-color: var(--negro-opaco);
}

input[type="submit"]:hover {
  background-color: var(--rojo);
  cursor: pointer;
  box-shadow: 0px 2px 4px var(--negro-opaco);
}

aside {
  padding-block: 5vh;
}

aside .row {
  justify-content: space-evenly;
  gap: 1rem;
}

iframe {
  border-radius: 4px;
  box-shadow: 0px 2px 8px var(--negro-opaco);
  margin-bottom: 0.5rem;
}


@media screen and (width > 376px) {
  main {
    padding-top: 10vh;
  }
  .navbar {
    height: 8vh;
  }
  .navbar a {
    font-size: 2vw;
    padding: 3vh 2vw;
  }
  :is(thead, tbody) :is(th, td) {
    padding: 1vh 1vw;
  }
  fieldset.row {
    gap: 3rem;
  }
  label {
    margin-top: 0rem;
  }
}

@media screen and (width > 768px) {
  main {
    padding-top: 15vh;
  }
  .navbar {
    height: 12vh;
  }
  .navbar a {
    padding: 4vh 2vw;
  }
  :is(thead, tbody) :is(th, td) {
    padding: 2vh 2vw;
  }
}
