/* Website Design 2 */

:root {
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

body {
  min-height: 100vh;
  position: relative;
}


h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 5vw;
}

h2 {
  text-align: center;
  line-height: 2rem;
  border: 1px solid #000000;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-style: italic;
}

header {
  background-image: url("../src/images/design1_image2.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 75%;
  padding: 0rem 1rem 12rem;
}

nav {
  position: absolute;
  top: 3rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

a {
  font-weight: 700;
  color: white;
  background-color: #5959f8;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border: 1px solid #000000;
  box-shadow: 0px 2px 4px #000000;
}

[aria-current] {
  background-color: #4fb84f;
}

.logo {
  width: 10vw;
  height: auto;
  position: absolute;
  left: 1rem;
  top: 60vh;
  background-color: #ffffff;
  border: 1px solid #808080;
  box-shadow: 0px 2px 4px #808080;
}

section {
  margin: 3rem 6rem 2rem 10rem;
}

p {
  margin-bottom: 1rem;
  text-indent: 1rem;
}